.message{ "data-message-id": message.id}
  .message__content
    .message__content__name
      = message.user.name
    .message__content__daily
      = message.created_at.to_s(:human)
  .message__comment
    - if message.content.present?
      = message.content
  .message__comment
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
