.container
  .sidebar
    .header
      .header__name
        %p
          shibata
      %ul
        %li
          = fa_icon("pencil-square-o", class: "pencil-icon")
        %li
          = fa_icon("cog", class: "cog-icon")
    .groups
      .group
        .group__name
          %p
            サッカー
            .grop__comment
              %p
                楽しみたい
        .group__name
          %p
            野球
            .grop__comment
              %p
                楽しみたい
  .chat
    .chat-header
      .chat-header__title
        サッカー
      .chat-header__edit
        .edit__text
          Edit
      .chat-header__memberName
        Member：shibata
    .messages
      .message
        .message__content
          .message__content__name
            柴田維新
          .message__content__daily
            2018/7/7 06:30:08
        .message__comment
          サッカーやろう
      .message
        .message__content
          .message__content__name
            山田太郎
          .message__content__daily
            2018/7/7 07:30:08
        .message__comment
          サッカーやろう
      .message
        .message__content
          .message__content__name
            柴田維新
          .message__content__daily
            2018/7/7 08:45:10
        .message__comment
          サッカーやろう
    .formarea
      %form
        %label
          .formarea__forms
            %input{:type => "text", :placeholder => "type a message", :name => "message", :class => "formarea__forms__form"}
            .formarea__forms-icon
              = fa_icon("image lg", class: "image-icon")
            %input{:type => "submit", :value => "Send", :class => "formarea__forms__submit-button"}
