/ %div.wrapper
.sidebar
  .header
    .header-name
      %p
        shibata
    %ul
      %li
      = fa_icon("pencil-square-o", class: "pencil-icon")
      %li
      = fa_icon("cog", class: "cog-icon")
  .groups
    .group
      .group-name
        %p
          サッカー
          .grop-comment
            %p
              楽しみたい
      .group-name
        %p
          野球
          .grop-comment
            %p
              楽しみたい





